/* Estilo del contenedor del calendario */
.react-datepicker {
    border: 2px solid #54c146; /* Borde morado */
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
  }
  
  
  /* Cabecera del calendario */
  .react-datepicker__header {
    background-color:#3bac3b; /* Fondo morado */
    border-bottom: none;
  }
  
  /* Texto del mes actual */
  .react-datepicker__current-month {
    color: #ffffff; /* Texto blanco */
    font-weight: bold;
  }
  
  /* Días seleccionados */
  .react-datepicker__day--selected {
    background-color: #44b44d; /* Color de selección */
    color: #fff; /* Texto en blanco */
  }
  
  /* Día actual */
  .react-datepicker__day--today {
    border: 1px solid #6b46c1;
    border-radius: 50%;
  }
  
  /* Desactivar días no seleccionables */
  .react-datepicker__day--disabled {
    color: #cccccc;
  }
  
  /* Cambiar el estilo del día seleccionado cuando se enfoca con el teclado */
  .react-datepicker__day--keyboard-selected {
    background-color: #d6bcfa;
  }
  