  /* Main content area */
  .main-content {
    padding-top: 60px; /* Adjust according to NavBar height */
    margin: 0 auto;
    max-width: 1200px; /* Adjust based on your layout */
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .main-content {
      padding-top: 50px; /* Adjust if needed for smaller screens */
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  
  
  @media (max-width: 480px) {
    .main-content {
      padding-top: 40px; /* Adjust if needed for smaller screens */
    }
  }
  