.NavbarItems{
    background:linear-gradient(90deg, rgb(28,27,27) 0%, rgb(26, 17, 73) 100%);
    height: 80px;
    font-size: 18px;
    font-weight: 600;
}
.fondo{
    margin-top: auto;
    margin: auto;
    height: auto;
    background:linear-gradient(90deg, rgb(26, 17, 73) 0%, rgb(28,27,27) 100%);
}
.h5{
    color:#FFBF00;
}
.calendr-btn{
    display: inline-block;
    padding: 10px 20px;
    background-color:  #1c1b1b;
    color: #fff;
    border: none;
    border-radius: 10px;
    display: flex;
    font-size: 20px;
}
.calendr-btn:hover{
    background-color: #eeb816cb;
    color: black;
}

.navbar-logo{
    color: #ffff;
    justify-self: start;
    margin-left: 10px;
    cursor: pointer;
    font-family: cursive;
}
.fa-react{
    margin-left: 0.5rem;
    font-size: 1.6rem;
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
}
.links{
    color: white;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
}
.nav-links:hover{
    background-color: #FFBF00;
    color: black;
    border-radius: 20px;
    transition: all 0.3s ease-out;
    font-weight: 600;
}
.fa-bars{
    color: #fff;
}
.nav-links-mobile{
    display: none;
}
.menu-icon{
    display: none;
}
.formulario{
    padding-top: 20px;
    margin-top: 50px;
}
@media screen and (max-width: 960px) {
    .home-page header h1, 
    .home-page header h2{
        text-shadow: 2px 2px 8px #fff;
    }
    header h1{
        font-size: 4rem;
    }
    .NavbarItems{
        position: relative;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 400px;
        position: absolute;
        top: 200px;
        right: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav-menu.active{
        background-color: #20CA;
        right: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .nav-links{
        text-align: center;
        text-decoration: none;
        padding: 1.5rem;
        width: 100%;
        display: table;
    }
    .nav-links:hover{
        background-color: #FFBF00;
        border-radius: 0;
    }
    .navbar-logo{
        position: absolute;
        top:0;
        left: 0;
        transform: translate(25%, 50%);
    }
    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        color: #fff;
    }
}