/* Sección de productos */

.productos-container {
    margin-top: 100px;
    justify-content: center;
}


.card-image {
    width: 10px;
    max-height: 100%;
    /* Establece aquí la altura deseada */
    object-fit: cover;
    /* Ajusta la imagen para llenar el contenedor sin distorsionarla */
}


.card-container {
    /* background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 17, 73) 100%); */
    width: 20rem;
    height: 20rem;
    border-radius: 5px;
    text-decoration: none;
}

/* Estilos para el contenedor de las tarjetas de productos */
/* .product-cards {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
} */

.productos-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.productos-wrapper .col-md-4 {
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 20px;
}

.productos-wrapper .card-container {
    height: 100%;
}

.productos-wrapper .card-container .card-title {
    font-weight: bold;
}

.productos-wrapper .card-container .card-footer .text-white:first-child {
    margin-right: 10px;
}