/* Sección de productos */

.productos-container {
    margin-top: 100px;
    justify-content: center;
    background: #faf8f8;
}

.banner {
  background: #a770ef;
  background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
  background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
}

.card{

	background-color: #fff;
	border:none;
	border-radius: 10px;
	width: 19px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}




.card-container {
    /* background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 17, 73) 100%); */
    width: 20rem;
    height: 20rem;
    border-radius: 5px;
    margin-left: 20%;
    border-color: red;
}

/* Estilos para el contenedor de las tarjetas de productos */
/* .product-cards {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
} */

.productos-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.productos-wrapper .col-md-4 {
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 20px;
}

.productos-wrapper .card-container {
    height: 100%;
}

.productos-wrapper .card-container .card-title {
    font-weight: bold;
}

.productos-wrapper .card-container .card-footer .text-white:first-child {
    margin-right: 10px;
}
.btnCart {
    color: #000dc4;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #001dc4;
    padding: 6px 14px;
    margin-top: 5px;
    line-height: 16px;
    border-radius: 20px;
}
