.public-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que la página ocupe toda la altura de la ventana */
}

.content {
    flex: 1; /* Permite que el contenido se expanda para llenar el espacio disponible */
    margin-top: 100px;

}