*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: auto;
  
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Establece el alto mínimo de la aplicación para que el footer se mantenga en la parte inferior */
}

.content {
  flex: 1; /* Permite que el contenido principal ocupe todo el espacio restante */
}
